.img {
    width: 700px;
}
.descriptionBlock{
    padding: 10px;
}
.wrapper{
    display: flex;
    margin: 1%;
}
.usersPhoto{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.content{
    display: flex;
    width: 30%;
    justify-content: space-around;
    border: black solid 1px;
    border-radius: 15px;
    margin-left: 10px;
}